body {
    background-image: url("images1.jpg");
    background-position: center;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

button:hover {
    color: orange;
    cursor: pointer;
}

button:focus {
    color: orangered;
    outline: none;
}

#increment-btn {
    background: darkred;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#decrement-btn {
    background: rgb(16, 0, 161);
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#save-btn {
    background: darkgreen;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#increment-btn:hover,#decrement-btn:hover,#save-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#f_segundos {
    align-self: flex-start;
    font-size: 27px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#f_segundos:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: orange;
}

#save-el,#total {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid white;
    margin-bottom: 10px;
}


#audioControl {
    display: none;
}

#divcompre{
    
        font-weight: bold;
        margin-bottom: 10px;
        border-radius: 5px;
    
}

#compre-el {
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
}
